<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>Simple foundation admin template | Foundation • Boilerplate</title>
    <meta content="A simple layout for backoffice with a sidebar and a topbar" name="description" />
    <meta content="index,follow" name="robots" />
    <link href="../../assets/stylesheets/application-0f02603f.css" rel="stylesheet" type="text/css" /><script src="../../assets/javascripts/modernizr-6e6719c6.js" type="text/javascript"></script>
  </head>
  <body class="templates templates_admin templates_admin_index">
    <div class="row row-full-page collapse">
      <div class="medium-2 columns">
        <ul class="m-admin--sidebar">
          <li>
            <a href="#">Foundation • Boilerplate</a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="#">Link 1</a>
          </li>
          <li>
            <a href="#">Link 2</a>
          </li>
          <li>
            <a href="#">Link 3</a>
          </li>
          <li>
            <a href="#">Link 4</a>
          </li>
          <li>
            <a href="#">Link 5</a>
          </li>
          <li>
            <a href="#">Link 6</a>
          </li>
          <li>
            <a href="#">Link 7</a>
          </li>
          <li>
            <a href="#">Link 8</a>
          </li>
          <li>
            <a href="#">Link 9</a>
          </li>
          <li>
            <a href="#">Link 10</a>
          </li>
        </ul>
      </div>
      <div class="medium-10 columns">
        <div class="contain-to-grid sticky">
          <nav class="top-bar" data-options="sticky_on: large; is_hover: false" data-topbar="" role="navigation">
            <ul class="title-area">
              <li class="name">
                <h1><a href="#">
                                <i class="fi-home"></i></a>
                </h1>
              </li>
              <li class="toggle-topbar menu-icon"><a href="#">
                            <span>Menu</span></a>
              </li>
            </ul>
            <section class="top-bar-section">
              <ul class="left">
                <li class="has-form">
                  <div class="row collapse">
                    <div class="large-8 small-9 columns">
                      <input placeholder="Find Stuff" type="text" />
                    </div>
                    <div class="large-4 small-3 columns">
                      <a class="button secondary expand" href="#">Search</a>
                    </div>
                  </div>
                </li>
              </ul>
              <ul class="right">
                <li class="divider hide-for-small"></li>
                <li><a href="https://github.com/flexbox">
                                <i class="fi-torso"></i>Flexbox </a>
                </li>
                <li class="has-dropdown"><a title="Create new..." href="#">
                                <i class="fi-plus"></i></a>
                  <ul class="dropdown">
                    <li><a title="Create new..." href="#">
                                        <i class="fi-page"></i>New page </a>
                    </li>
                    <li><a title="Create new..." href="#">
                                        <i class="fi-address-book"></i>New adress </a>
                    </li>
                  </ul>
                </li>
                <li><a title="Settings" href="#">
                                <i class="fi-wrench"></i></a>
                </li>
                <li><a title="Sign out" href="#">
                                <i class="fi-power"></i></a>
                </li>
              </ul>
            </section>
          </nav>
        </div>
        <div class="m-admin--content">
          <table>
            <thead>
              <tr>
                <th width="200">
                  Table Header
                </th>
                <th>
                  Table Header
                </th>
                <th width="150">
                  Table Header
                </th>
                <th width="150">
                  Table Header
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Content 1
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 2
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 3
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 4
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 5
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 6
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 7
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 8
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 9
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 10
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 11
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 12
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 13
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 14
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 15
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 16
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 17
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 18
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 19
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 20
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 21
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 22
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 23
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 24
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 25
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 26
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 27
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 28
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 29
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 30
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 31
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 32
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 33
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 34
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 35
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 36
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 37
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 38
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 39
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 40
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 41
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 42
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 43
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 44
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 45
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 46
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 47
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 48
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 49
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
              <tr>
                <td>
                  Content 50
                </td>
                <td>
                  This is longer content Donec id elit non mi porta gravida at eget metus.
                </td>
                <td>
                  Content Goes Here
                </td>
                <td>
                  Content Goes Here
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div><script src="../../assets/javascripts/application-48e32da7.js" type="text/javascript"></script>
  </body>
</html>